/* For all elements, include margin and padding when measuring width and height. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Use maximum amount of vertical space on the page. */
html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* White background, sans-serif font. */
body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

/* Some generous padding around the generator. */
.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Equivalent of h1 element. */
header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

/* Equivalent of the body element. Subtle box-shadow around the border. */
.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

/* Equivalent of h2 element within the body. */
.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

/* Maintain a minimum height for the generator. */
.card-body {
  min-height: 100px;
}


/* Contains all the options. Centered. */
#password-gen-options {
  text-align: center;
}

/* Each password option has an <input> and <label> or some text nearby. Align them left.*/
.single-option {
  text-align: center;
  margin: 10px;
}

/* If no character options are checked, this red warning text is revealed. */
#hidden-warning-text {
  color: red;
  font-size: 14;
  font-family: sans-serif;
  font-weight: bold;
}



/* Equivalent of footer element, contains the Generate Password button. */
.card-footer {
  text-align: center;
}

/* Some spacing before the footer. */
.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

/* Some spacing after the footer. */
.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

/* Styling of the Generate Password button. White font on Red bg, rounded edges. */
.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

/* When the button is disabled, change its color and ignore the mouse/cursor hovering. */
button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

/* Helper class to float stuff to the right. */
.float-right {
  float: right;
}

/* The box containing generated passwords. Spacious, mostly empty. */
#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

/* Smaller screens: */
@media (max-width: 690px) {

  /* Shrink the button some. */
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  /* Shrink the password output some. */
  #password {
    font-size: 1rem;
  }
}

/* Even smaller screens: */
@media (max-width: 500px) {

  /* Shrink the button a lot! */
  .btn {
    font-size: 0.8rem;
  }
}